@page "/Ciudad/Details/{CiudadId:int}"
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles de Ciudad</PageTitle>

<div class="container">
    <div class="shadow-lg">

        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Detalles de la Ciudad</strong></h3>
        </div>

        @*Body*@
        <div class="card-body">
            <ul class="mt-4">
                <li><strong>CiudadId: </strong>@Ciudad.CiudadesId</li>
                <li><strong>Nombre: </strong>@Ciudad.Nombres</li>
                <li><strong>Monto Total: </strong>@Ciudad.Monto</li>

                @*Encuestas Asociadas*@
                <li>
                    <strong>Encuestas: </strong>
                    <ul>
                        @foreach (var encuesta in ListaEncuestas)
                        {
                            <li>
                                <strong>EncuestaId: </strong>@encuesta.EncuestaId 
                                <strong>Asignatura: </strong>@encuesta.Asignatura 
                                <strong>Fecha: </strong>@encuesta.Fecha
                                <strong>Monto: </strong>@encuesta.Monto)
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>

        @*Footer*@
        <div class="card-footer text-end mt-3">
            <button type="button" class="btn btn-primary" @onclick="Volver">Volver</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int CiudadId { get; set; }

    public Ciudades Ciudad { get; set; } = new Ciudades();
    public List<Encuesta> ListaEncuestas { get; set; } = new List<Encuesta>();
    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        

         Ciudad = await contexto.Ciudades
            .Include(c => c.Encuesta) // Incluir las encuestas asociadas
            .FirstOrDefaultAsync(c => c.CiudadesId == CiudadId);

        if (Ciudad != null)
        {
            // Obtener las encuestas asociadas a la ciudad
            ListaEncuestas = Ciudad.Encuesta.ToList();
        }
        else
        {
            Mensaje = "Ciudad no encontrada.";
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Ciudad/Index");
    }
}
